@font-face {
    font-family: 'Forum';
    src: url('Forum-Regular.ttf')  format('truetype');
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    list-style-type: none;
}

a:link, a:visited {
    text-decoration: none;
    color: #999;
}

a:link:hover, a:visited:hover {
    text-decoration: underline;
}

body {
    font-family: 'Forum', cursive;
    background-color: #111;
    color: white;
    max-width: 1480px;
    font-size: 8px;
    margin: 0 auto;
}

header {
    padding: 1rem;
    text-align: center;
}

header h1 {
    font-size: 3rem;
    line-height: 3.5rem;
}

header h1 a:link,
header h1 a:visited {
    color: white;
}

h2 {
    font-size: 1.75rem;
    line-height: 2.25rem;
    color: #CCC;
}

h3 {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

footer {
    padding: 1rem;
    text-align: center;
    font-size: 1.1rem;
}

/* Article */

article {
    margin: 0 auto;
    max-width: 800px;
}

article h2 {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 1rem;
}

article ul li {
    list-style-type: circle;
    margin-left: 1rem;
}

article p,
article li {
    font-size: 1.25rem;
}

article p,
article ul {
    margin: 1rem 0;
}

p.warning {
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.7rem;
    max-width: 500px;
    margin: 0 auto;
    padding: 0 1rem;
}

.grid {
    display: flex;
    flex-flow: row wrap;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1024px;
    margin: 1rem auto;
}

.grid li {
    flex: 0 1 25%;
    display: inline-block;
}

.grid li img {
    width: 100%;
}

ul.gallery {
    max-width: 100%;
    display: flex;
    flex-flow: row wrap;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

ul.gallery li {
    flex: 0 1 33.33%;
    display: block;
    position: relative;
    min-height: 20rem;
    padding: 0.25rem;
    box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
    ul.gallery li:not(.large) {
        flex: 0 1 50%;
    }
}

@media screen and (max-width: 800px) {
    ul.gallery li:not(.large) {
        flex: 0 1 100%;
    }
}

ul.gallery li.active:hover {
    cursor: pointer;
}

ul.gallery li.large {
    flex: 0 1 100%;
    text-align: center;
}

ul.gallery li picture:not(.published):after {
    content: "Preview picture, do not publish";
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    font-size: 1.5rem;
    line-height: 3rem;
    left: 0;
}

ul.gallery div.description {
    font-size: 1rem;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 1rem 0.5rem;
    text-shadow: black 0 0 1rem, black 0 0 0.25rem;
}

ul.gallery li div.label {
    background-color: rgba(0, 0, 0, 0.75);
    display: block;
    position: absolute;
    bottom: 3rem;
    padding: 0.75rem 1rem 0.5rem;
}

ul.gallery li div.label h1 {
    display: inline;
    font-size: 1.75rem;
    padding-right: 0.5rem;
}

ul.gallery li div.label span {
    font-size: 1.15rem;
}

ul.gallery li div.label > * {
    line-height: 1.5rem;
}

ul.gallery li picture,
ul.gallery li video {
    max-width: 100%;
    position: relative;
    box-shadow: black 0 0 2rem;
}

ul.gallery li picture > * {
    max-height: 100vh;
    max-width: 100%;
}

ul.gallery li:not(.large) picture > * {
    object-fit: cover;
    width: 100%;
}

ul.gallery li video {
    margin: 2rem 0;
}

ul.gallery li picture.caption {
    overflow: hidden;
}

ul.gallery li video + .caption {
    top: 2rem;
}

ul.gallery li picture.caption:after {
    content: "Exclusive picture, visit our Patreon to get access to it";
    bottom: 100%;
}

ul.gallery li video + .caption,
ul.gallery li picture.caption:after {
    position: absolute;
    font-size: 1.25rem;
    left: 0;
    width: 100%;
    padding: 1rem;
    text-shadow: 0 0 0.5rem black;
    box-sizing: border-box;
}

/*ul.gallery li picture.caption > * {
    height: 70vh;
    margin-top: 15vh;
    margin-bottom: 15vh;
}*/

/* Welcome logo */
ul.logo {
    margin: 2rem;
    font-size: 1.75rem;
    text-align: center;
    padding: 0 1rem;
}

ul.logo.second {
    font-size: 1.2rem;
}

ul.logo li {
    display: inline-block;
    line-height: 3rem;
    margin: 0 1rem;
}

ul.logo li img {
    width: 2.5rem;
    margin-right: 1rem;
    display: inline-block;
    vertical-align: middle;
}

ul.logo.second li img {
    width: 1.8rem;
}

/* Info */
div.info {
    max-width: 600px;
    margin: 0 auto;
    background-color: #0485d1;
    font-size: 1.2rem;
    line-height: 1.4rem;
    padding: 1rem;
    margin-top: 1rem;
}

div.info .comment {
    font-weight: bold;
    border-top: 1px solid white;
    margin-top: 1rem;
    padding-top: 1rem;
}

/* Opinion */
form.opinion {
    font-size: 1.3rem;
    max-width: 550px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 0.3rem;
    padding: 0.5rem;
    box-sizing: border-box;
    top: -1rem;
    position: relative;
    box-shadow: black 0 0 0.5rem;
    margin-bottom: 1rem;
}

form.opinion.published {
    pointer-events: none;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.3;
}

form.opinion span.num {
    float: left;
}

form.opinion input[type=checkbox] {
    width: 0;
    height: 0;
    display: inline-block;
    opacity: 0;
}

form.opinion input[type=checkbox] + label {
    background-color: red;
    text-align: center;
    padding: 0.2rem 0.5rem;
    border-radius: 0.2rem;
}

form.opinion input[type=checkbox] + label:after {
    content: "✗";
}

form.opinion input[type=checkbox] + label:hover {
    cursor: pointer;
}

form.opinion input[type=checkbox]:checked + label {
    background-color: green;
}

form.opinion input[type=checkbox]:checked + label:after {
    content: "✓";
}

form.opinion textarea {
    padding: 0.5rem;
    width: 100%;
    box-sizing: border-box;
    margin: 0.5rem 0;
}

form.opinion input[type=submit] {
    padding: 0.1rem 0.5rem;
    width: 100%;
}