@font-face {
    font-family: 'Forum';
    src: url('Forum-Regular.ttf')  format('truetype');
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    list-style-type: none;
}

a:link, a:visited {
    text-decoration: none;
    color: #999;
}

a:link:hover, a:visited:hover {
    text-decoration: underline;
    color: white;
}

body {
    font-weight: 400;
    font-style: normal;
    font-family: "Crimson Text";

    background-color: #111;
    color: white;
    /*max-width: 1480px;*/
    /*font-size: 8px;*/
    /*margin: 0 auto;*/
}

body.welcome {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    backdrop-filter: blur(1rem) brightness(30%);
    height: 100vh;
}

header {
    padding: 1.5rem;
    text-align: center;
}

header h1 {
    font-family: "Forum", serif;
    font-size: 2.5rem;
    line-height: 3rem;
}

header h1 a:link,
header h1 a:visited {
    color: white;
}

.center {
    text-align: center;
}

hr {
    border-bottom: 1px solid #333;
    padding-top: 1rem;
}

h2 {
    font-size: 1.5rem;
    line-height: 2rem;
    color: #CCC;
}

h3 {
    font-size: 1.25rem;
    line-height: 2rem;
}

h4 {
    font-size: 1.2rem;
    line-height: 1.3rem;
}

.links a + a:before {
    content: ' – ';
    display: inline-block;
    padding: 0 0.4rem 0 0.15rem;
}

footer {
    padding: 2rem;
    text-align: center;
    font-size: 1.2rem;
}

/* Article */

article {
    margin: 0 auto;
    max-width: 800px;
    padding: 0 1rem;
    box-sizing: border-box;
}

article h2 {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 1rem;
}

article ul li {
    list-style-type: circle;
    margin-left: 1rem;
}

article p,
article li {
    font-size: 1.25rem;
}

article p,
article ul {
    margin: 1rem 0;
}

p.warning {
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.6rem;
    padding: 0 1rem;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 0 1rem;
}

@media screen and (max-width: 800px) {
    .gallery {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (min-width: 801px) and (max-width: 1280px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}

.gallery li {
    position: relative;
}

.gallery li.active:hover {
    cursor: pointer;
}

.gallery li video {
    width: 100%;
}

.gallery li picture {
    aspect-ratio: 2 / 3;
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
}

.gallery li picture > * {
    width: 100%;
    border-radius: 2px;
    display: block;
    animation: fadein 0.5s;
}

.gallery li .label {
    position: absolute;
    bottom: 0.5rem;
    left: 0.5rem;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(0.5rem);
    padding: 0 1rem;
    line-height: 2.75rem;
    border-radius: 2px;
    font-size: 1.3rem;
    transition: background-color 0.3s ease;
}

.gallery li.active:hover .label {
    background-color: rgba(0, 0, 0, 1);
}

/* Welcome logo */
ul.logo {
    margin: 1.5rem;
    font-size: 1.75rem;
    text-align: center;
    padding: 0 1rem;
}

ul.logo.second {
    font-size: 1.3rem;
    margin-top: 5rem;
}

ul.logo li {
    display: inline-block;
    line-height: 3rem;
    margin: 0 1rem;
}

ul.logo li img {
    width: 2.5rem;
    margin-right: 1rem;
    display: inline-block;
    vertical-align: middle;
}

ul.logo:not(.second):hover li img {
    animation: tilt-n-move-shaking 0.25s infinite;
}

ul.logo.second li img {
    width: 1.8rem;
}

/* Info */
div.info {
    max-width: 600px;
    margin: 0 auto;
    background-color: #0485d1;
    font-size: 1.2rem;
    line-height: 1.4rem;
    padding: 1rem;
    margin-top: 1rem;
}

div.info .comment {
    font-weight: bold;
    border-top: 1px solid white;
    margin-top: 1rem;
    padding-top: 1rem;
}

/* Opinion */
form.opinion {
    font-size: 1.3rem;
    max-width: 550px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 0.3rem;
    padding: 0.5rem;
    box-sizing: border-box;
    top: -1rem;
    position: relative;
    box-shadow: black 0 0 0.5rem;
    margin-bottom: 1rem;
}

form.opinion span.num {
    float: left;
}

form.opinion input[type=checkbox] {
    width: 0;
    height: 0;
    display: inline-block;
    opacity: 0;
}

form.opinion input[type=checkbox] + label {
    background-color: gray;
    background-color: green;
    text-align: center;
    padding: 0.2rem 0.5rem;
    border-radius: 0.2rem;
    filter: saturate(0);
}

form.opinion input[type=checkbox] + label:after {
    content: "Accept 👍";
}

form.opinion input[type=checkbox] + label:hover {
    cursor: pointer;
}

form.opinion input[type=checkbox]:checked + label {
    filter: saturate(1);
}

form.opinion textarea {
    padding: 0.5rem;
    width: 100%;
    box-sizing: border-box;
    margin: 0.5rem 0;
}

form.opinion input[type=submit] {
    padding: 0.1rem 0.5rem;
    width: 100%;
}

form.opinion p.dlinks {
    padding-top: 0.5rem;
    font-size: 1.25rem;
}

@keyframes tilt-n-move-shaking {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
    50% { transform: rotate(0eg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}