@font-face {
    font-family: 'Forum';
    src: url('Forum-Regular.ttf')  format('truetype');
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    list-style-type: none;
}

a:link, a:visited {
    text-decoration: none;
    color: #999;
}

a:link:hover, a:visited:hover {
    text-decoration: underline;
}

body {
    font-family: 'Forum', cursive;
    background-color: #111;
    color: white;
    max-width: 1480px;
    font-size: 8px;
    margin: 0 auto;
}

header {
    padding: 1rem;
    text-align: center;
}

header h1 {
    font-size: 3rem;
    line-height: 4rem;
}

header h1 a:link,
header h1 a:visited {
    color: white;
}

h2 {
    font-size: 1.75rem;
    line-height: 2.25rem;
    color: #CCC;
}

h3 {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

footer {
    padding: 3rem 1rem;
    text-align: center;
    font-size: 1.1rem;
}

p.warning {
    text-align: center;
    font-size: 1.3rem;
}

.grid {
    display: flex;
    flex-flow: row wrap;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1024px;
    margin: 1rem auto;
}

.grid li {
    flex: 0 1 25%;
    display: inline-block;
}

.grid li img {
    width: 100%;
}

ul.gallery {
    max-width: 100%;

    display: flex;
    flex-flow: row wrap;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

ul.gallery li {
    flex: 0 1 33.33%;
    display: inline-block;
    padding: 0.75rem;
    box-sizing: border-box;
    position: relative;
    min-height: 20rem;
}

ul.gallery li.active:hover {
    cursor: pointer;
}

ul.gallery li.large {
    flex: 0 1 100%;
    text-align: center;
}

ul.gallery li.large img {
    max-height: 100vh;
    max-width: 100%;
    width: auto;
}

ul.gallery li div.label {
    background-color: rgba(0, 0, 0, 0.75);
    display: block;
    position: absolute;
    bottom: 1.5rem;
    padding: 0 1rem;
}

ul.gallery li div.label h1 {
    display: inline;
    font-size: 2rem;
    line-height: 3rem;
    padding-right: 0.5rem;
}

ul.gallery li div.label span {
    font-size: 1.15rem;
}

@media screen and (max-width: 1024px) {
    ul.gallery li:not(.large) {
        flex: 50%;
    }
}

@media screen and (max-width: 800px) {
    ul.gallery li:not(.large) {
        flex: 0 1 100%;
    }
}

ul.gallery li img {
    width: 100%;
    box-shadow: black 0 0 2rem;
}

/* Welcome logo */
ul.logo {
    margin: 0 auto;
    font-size: 1.75rem;
    text-align: center;
    padding: 0 1rem;
}

ul.logo.second {
    font-size: 1.2rem;
}

ul.logo li {
    display: inline-block;
    margin-top: 2rem;
    margin-right: 1rem;
}

ul.logo li img {
    width: 2.5rem;
    margin-right: 1rem;
    display: inline-block;
    vertical-align: middle;
}

ul.logo.second li img {
    width: 1.8rem;
}